@import "typography.css";
@import "portfolio.css";
@import "contact.css";
@import "about.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.4;
  color: #393e46;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 19.2px;
}

header {
  min-height: 65vh;
  background: url(https://raw.githubusercontent.com/nikuuwes/codeinstitute-portfolio-1-/main/assets/images/aron-920236_1280.jpg) center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.navbar {
  padding: 51.2px;
}

.navbar-nav {
  padding: 12.8px 0 3.2px 0;
  text-align: center;
}

.navbar-nav a {
  text-transform: uppercase;
  font-family:'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
  color:#393e46;
  text-decoration: none;
  display: inline-block;
  padding: 6.4px 1.6px;
  letter-spacing: 3px;
  transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
  background: #eeeeee;
  color: #393e46;
}

.header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #393e46;
}

.header-title {
  background-color:#eeeeee;
  font-size: 80px;
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}
/* end of header */

/* main content */
.title {
  text-align: center;
  padding: 16px 0;
}

.title h2 {
  font-family:'Playfair Display', serif;
  font-size: 38.4px;
}

.title p {
  text-transform: uppercase;
  padding: 9.6px 0;
}
/* end of main content */

/* footer */
footer{
    background: #eeeeee;
    color: #393e46;
    text-align: center;
    padding: 32px 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 22.4px;
}
.social-links a{
    color: #393e46;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 4.8px;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #f7f7f7;
    color: #393e46;
}
.footer span{
  margin-top: 16px;
  display: block;
  letter-spacing: 2px;
}

span a {
  color: #393e46;

}

span a:link {
  color: #393e46;
}


span a:visited {
  color: #393e46;
}

span a:hover {
  color: #eeeeee;
  opacity: 0.7;
}




@media screen and (min-width: 240px) {
  .navbar-nav a {
    padding-right: 19.2px;
    padding-left: 19.2px;
  }

  .header-title {
    font-size: 80px;

  }
}

@media screen and (min-width: 268px) {
  .navbar .container {
    display: flex;
    align-items: center;
  }

  .portfolio-card {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media screen and (min-width: 992px) {
  .portfolio-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    align-items: center;
  }
  .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    align-items: center;
  }
}
