@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family:'Quicksand', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family:'Quicksand', sans-serif;

}

time {
  font-family: 'Roboto', sans-serif;
}


p {
  font-family: 'Roboto', sans-serif;

}

/* Media Queries */
@media (max-width: 4.5in) {
  * {
    font-size: 18px;
  }
}

@media (max-width: 5.0in) {
  * {
    font-size: 16px;
  }
}
